@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS per la paginazione in index.blade.php */
.min-h-40 > .flex > .hidden {
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}